---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { images } from "@/data/site";
import { SoloRoom } from "@/islands/sanctuary/SoloRoom";
---

<BaseLayout title="Santuario silencioso" currentPath="/estudio">
  <div class="mx-auto max-w-7xl space-y-8">
    <SoloRoom client:only="react" backgroundUrl={images.studyRoomIso} />
  </div>
</BaseLayout>
